*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #a3dd7a;
    text-align: center;
    display: flex;
  align-items: center;
    justify-content: center;
    height: 100vh;  
}
h1{
    text-align: center;
    margin: 20px 0;
}